.box{
    
}
#light{
    background-color: #f7f7f7;
}
#dark{
    background-color: #000000;
}




.img{
    width: 40px;
    height: 40px;
}
.header {
    position: sticky;
    top: 0px;
    z-index: 1;
}   